<div>
    <h2>Welcome back to Diagnostikare! </h2>
    <%= link_to 'Report a new symptomp', new_report_path %>
</div>

<div>
    <h1> Your reported symptomps: </h1>
    <ul>
        <% @reports.each do |report| %>
            <li>
                <p><%= link_to report.created_at.strftime('%F'), report %></p>
            </li>
        <% end %>
    </ul>
</div>

<% unless @past_apt.empty? %>
    <div>
        <h3> Your past appointments. </h3>
        <ol>
            <% @past_apt.each do |past| %>
                <li>
                    <p> <%= past.time.strftime('%F %H:%M') %> </p>
                </li>
            <% end %>
        </ol>
    </div>
<% end %>

<% unless @future_apt.empty? %>
    <div>
        <h3> Your future appointments. </h3>
        <ol>
            <% @future_apt.each do |future| %>
                <li>
                    <p> <%= future.time.strftime('%F %H:%M') %> </p>
                </li>
            <% end %>
        </ol>
    </div>
<% end %>