 
<html>

    <head>
      <meta charset="utf-8">
      <title></title>
      <meta name="author" content="">
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <!-- THIS IS THE MAIN TABLE WITHIN WHICH EVERY OTHER TABLE WILL GO -->
      <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#f7f7f7" style="padding:40px 0">
          <tr>
            <td width="400px">
              <!-- THIS IS THE SUBTABLE THAT WILL ONLY BE AS WIDE AS THE MAIN CONTENT -->
              <table class="container" width="400" align="center" cellspacing="0" bgcolor="white" cellpadding="0" border="0">
                  <!--START OF FIRST MAIN ROW WITHIN FIRST SUBTABLE -->
                <tr>
                  <td>
                    <table width="100%" align="center" >
                      <tr class="dummy-row">
                                      <td height="58">
                                      </td>
                                    </tr>
                      <tr>
                        <td align="center">
                          Diagnostikare
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div style="overflow:hidden;font-size:18px;font-weight:500;line-height:24px;letter-spacing:0.2px;color:#333;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif" align="center">Una plataforma de salud digital, enfocada en el primer nivel de atención.
                          </div>
                          </td>
                      </tr>
                      
                      <tr>
                        <td height="84">
                        </td>
                      </tr>
                      <tr>
                        <td align="center" height="72" style="font-weight:400;letter-spacing:-1px;font-family:-apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif">
                          <span style="line-height:72px;color:#333333;font-size:65px;">
                            <%= @date %>
                          </span>
                        </td>
                      </tr>
                      <tr>
                        <td height="25">
                       <div style=" padding-top:5px;overflow:hidden;font-size:18px;font-weight:400;line-height:24px;letter-spacing:0.2px;color:#999;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif" align="center">
                        Tu cita esta agendada en la fecha de arriba.
                        </div> 
                        </td> 
                      </tr>
                      <tr>
                        <td height="60">
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <table width="100%">
                            <tr>
                              <td align="center">
                                <img height="30" width="30"src="https://vistatec.com/wp-content/uploads/2019/08/Excellence-Tick-Icon-300x300.jpg">
                              </td>
                            </tr>
                            <tr>
                              <td align="center" style="font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;letter-spacing:0.2px;line-height:22px;color:#333333">
                                <div style="overflow:hidden;"> Completed
                              </td>
                            </tr>
                            <tr>
                              <td height="10">
                              </td>
                            </tr>
                           <tr>
                             <td height="90">
                               <div style=" padding-top:5px;overflow:hidden;font-size:18px;font-weight:400;line-height:24px;letter-spacing:0.2px;color:#999;font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif" align="center">Para mayor información, comunicarse a<br>diagnostikare@diagnostikare.com
                        </div> 
                             </td>
                             </tr>
                        <tr>
                        <td height="80">
                        </td>
                        </tr>
                        <tr>
                          </td>
                         </tr>
                            
                          </table>  
                             
                        </td>
                      </tr>
                      
                      </table>
                  </td>
                </tr>
                                          <tr class="dummy-row">
                                      <td height="32" style="background-color:#f7f7f7">
                                      </td>
                                    </tr>
                                   
                <tr class="dummy-row">
                                      <td height="32" style="background-color:#f7f7f7;">
                                      </td>
                                    </tr>
                                     <tr>
                                       <td height="20" style="background-color:#f7f7f7;">
                                         
                                       </td>
                                    </tr>
    
                          <!--END OF FIRST MAIN ROW WITHIN FIRST SUBTABLE -->
              </table>
              </td>
                </tr>
              </table>
      
      </body>