<div class="text-center">

    <h1> This is your report information. </h1>

    <div class="container">
        <hr>
    <div>

    <h3> Was created at: <%= @report.created_at.strftime('%F') %></h3>

    <p> The symptomps were: <%= @report.symptomps %> </p>

    <%= link_to 'Back', root_path %>

</div>